h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    height: 72px;
}
#collapsable-nav{
    text-align: center;
    font-size: 1.8em;
    
}
#collapsable-nav>hr{
    color: rgb(239, 10, 10);
    size: 3px;
}
.header-nav{
  max-height: 72px; height: 72px;  

}


.text{
    font-size: 1.8em;
       
}
.main-content{
    position: fixed;
}

@media (max-width: 768px ) {
    
    #collapsable-nav{
    background-color: bisque;
    
}
    .visible-xs{
        display: block !important;
    }
}

